
*{
	margin: 0;
	padding:0;
	list-style: none;
}
.zhuozi{
	width: 1000px;
	height:700px;
	margin: auto;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border:1px solid #352644;
	background: #7CD0C2;

}
.poker{
   width:90px;
	height:120px;
	border:2px solid #000;
	box-sizing:border-box;
	position: absolute;
	top:200px;
	left:300px;
	opacity:0;
}
.zhuozi .pai{
	box-shadow: 2px 3px 2px black;
	width: 90px;
	height: 130px;
	background-size: 90px 130px;
	position: absolute;
	top: 50%;
	left: 50%
}
